# this file is not intended for production use
PROD_DB=record_collection
TEST_DB=test_record_collection
# postgres config
DB_SCHEMA=app_data
DB_HOST=db
DB_PORT=5432
# postgres superuser for setup scripts
DB_SUPERUSER=postgres
DB_SUPERUSER_PASS=test_password
# admin user for managing database
DB_ADMIN_USER=rec_admin
DB_ADMIN_PASS=test_password
DB_ADMIN_CREATEDB=true
# app user for app connection
DB_APP_USER=rec_app
DB_APP_PASS=test_password
# rabbitmq config
MQ_HOST=rabbitmq
MQ_PORT=5672
MQ_USER=guest
MQ_PASS=test_password
# exchange and queue names
MQ_EXCHANGE=record_collection
MQ_QUEUE_EXTERNAL_DATA=external_data_v1
# discogs api
DISCOGS_TOKEN=test_token
DISCOGS_USER_AGENT=RecordCollectionEnrichService/1.0 (example@example.org)