# this file is not intended for production use
# postgres config
DB_NAME=rec_collect
DB_SCHEMA=app_data
DB_HOST=localhost
DB_PORT=5432
# postgres superuser for setup scripts
DB_SUPERUSER=postgres
DB_SUPERUSER_PASS=******
# admin user for managing database
DB_ADMIN_USER=rec_admin
DB_ADMIN_PASS=******
DB_ADMIN_CREATEDB=true
# app user for app connection
DB_APP_USER=rec_app
DB_APP_PASS=******
# rabbitmq config
MQ_HOST=localhost
MQ_PORT=5672
MQ_USER=guest
MQ_PASS=******
# exchange and queue names
MQ_EXCHANGE=record_collection
MQ_QUEUE_EXTERNAL_DATA=external_data_v1