DB_SUPERUSER=postgres
DB_SUPERUSER_PASS=45psql78
DB_NAME=rec_collect
DB_SCHEMA=app_data
DB_HOST=localhost
DB_PORT=5433
DB_ADMIN_USER=rec_admin
DB_ADMIN_PASS=123pass
DB_ADMIN_CREATEDB=true
DB_APP_USER=rec_app
DB_APP_PASS=pass456
DB_TEST_DATABASE=test_rec_collect
DB_TEST_USER=rec_test
DB_TEST_PASS=123pass456
MQ_HOST=localhost
MQ_PORT=5672
MQ_USER=guest
MQ_PASS=guest
MQ_EXCHANGE=record_collection
MQ_QUEUE_EXTERNAL_DATA=external_data_v1
MQ_TEST_EXCHANGE=test_record_collection
MQ_TEST_QUEUE_EXTERNAL_DATA=test_external_data_v1